
/* html element classes */
h1 {
    font-family: 'SmallCaps', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: white;
    color: black;
}

.normal_font {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: black;
}


.radio {
    border: 1px solid black;
    padding: 1px;
    margin: 2px;
    float: left;
    width: max-content;
    user-select: none;
}

.main {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

/* Custom clases */
.button_css {
    border: 1px solid black;
    background-color: black;
    color: red;
    font-size: 15px;
}

.button_css:hover{
    background-color:red;
    color: black;
    transition: 0.7s;
}

.button_css:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.button_css:active{
    background-color: #ffbf00;
}